@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Application

@if (Model.CreeperStalker == false)
{
    <h2>Application received. Thank you, @Model.FirstName</h2>
    <h3>(Although, you really ought to be thanking me for even considering going out with you!)</h3>
}
else
{
    <h2>Oh, shoot. My bad. I actually forgot that I'm already in relationship. But I have a friend who I think would be perfect for you!</h2>
}

