@{
    ViewData["Title"] = "Home Page";
}

<h1>Date Miso Shrestha</h1>
<div>
    <p>Today is your lucky day. You may have the opportunity to date me...</p>
    <img src="~/img/datemiso.jpg" />
</div>

<div>
    <a>Fill out an Application to Date Me</a>
</div>
